@model AccountType
@{
    ViewData["Title"] = "Crear tipo cuenta";
}

<h1>Crear tipo de cuenta</h1>
<h5>El tipo de cuenta se refiere a cómo podemos agrupar cuentas
    Ejemplos: Préstamos, tarjetas de credito, etc</h5>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-controller="AccountType" asp-action="Create">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" asp-for="name" class="form-control"/>
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
