@model IEnumerable<AccountType>
@{
    ViewData["Title"] = "Tipos Cuenta";
} 

<h1>Tipos de cuenta</h1>
<h5>El tipo de cuenta se refiere a cómo podemos agrupar cuentas.
    Ejemplos: Préstamos, tarjetas de crédito, etc.</h5>
<a asp-action="Create" class="btn btn-primary mb-3">Crear nuevo</a>
<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody id="reordenable">
        @foreach(var accountType in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@accountType.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@accountType.Id">Borrar</a>
                </td>
                <td>
                    @accountType.name
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(function () {
            $("#reordenable").sortable({
                update: function (event, ui) {
                    var order = $(this).sortable("toArray");
                    $.ajax({
                        url: '@Url.Action("Reorder", "AccountType")',
                        type: 'POST',
                        data: { order: order },
                        success: function (response) {
                            console.log("Orden actualizado");
                        },
                        error: function (xhr, status, error) {
                            console.error("Error al actualizar el orden:", error);
                        }
                    });
                }
            });
        });
    </script>
}