@model Category
@{
    ViewData["Title"] = "Eliminar categoría";
}

<h3 class="mb-3">¿Estás seguro que desea borrar la categoría?</h3>

<form asp-action="DeleteCategory">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">Borrar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>
