@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>

<h5>La categoría nos permite indicar en qué gastamos nuestro dinero,
    también, de dónde provienen nuestros ingresos.
</h5>

<a asp-action="Create" class="btn btn-primary mb-3">Crear nuevo</a>

<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Tipo</th>
        </tr>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-primary" asp-action="Update" asp-route-id="@category.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@category.Id">Borrar</a>
                    </td>
                    <td>
                        @category.Name
                    </td>
                    <td>
                        @category.operationTypeId.ToString()
                    </td>
            </tr>
            }
        </tbody>
    </thead>
</table>