@model DetailedReportTransactions
@{
    ViewData["Title"] = "Reporte diario";
}

@if (Model != null)
{
    <partial name="_DetailedTransactionReport" model="Model" />
}
else
{
    <p>No hay datos para mostrar en el reporte.</p>
}