#reordenable tr {
    cursor: move;
}

.contenedor-totales {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;

}

.activo {
    color: blue;
}

.pasivo {
    color: red;
}

.accordion-accounts {
    color: black !important;
    font-size: 20px;
}

.accordion-accounts button > span {
    display: flex;
    justify-content: space-between;
}

.accordion-accounts ul li {
    display: flex;
    justify-content: space-between;
}

.accordion-accounts .accordion-collapse {
    font-size: 18px;
}